body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: black;
  color: white;
}

h2,
h3 {
  color: rgb(255, 255, 255);
}

input {
  color: white;
  background-color: #333;
  border: 1px solid #666;
  border-radius: 5px;
}

.container {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
  border-bottom: 1px solid #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.fade {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

button {
  margin-left: 2px;
  border-radius: 5px;
}

.done-btn {
  background-color: green;
  color: white;
  border-radius: 5px;
}

.remove-btn {
  background-color: red;
  color: white;
  border-radius: 5px;
}

#noTasks {
  color: rgb(184, 177, 177);
  font-style: italic;
  text-align: center;
}
