body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

h2,
h3 {
  color: rgb(2, 183, 255);
}

input {
  height: 30px;
  width: 500px;
  color: rgb(0, 0, 0);
  background-color: #fffafa;
  border: 1px solid rgb(57, 143, 255);
  border-radius: 5px;
}

.container {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
  padding: 0 20px;
}

.column:first-child {
  border-right: 1px solid #666;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 12px 14px;
  margin-bottom: 12px;
  background-color: #dd9ffa;
  border: 1px solid #444;
  border-radius: 10px;
  border-color: #dd9ffa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.done-checkbox {
  width: 18px;
  height: 18px;
  border-radius: 10px;
  accent-color: limegreen;
  border-color: #dd9ffa;
}

li.fade {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

button {
  height: 30px;
  margin-left: 2px;
  border-radius: 5px;
}

.return-btn {
  background-color: rgb(57, 143, 255);
  color: white;
  border-radius: 5px;
  border-color: #dd9ffa;
}

.remove-btn {
  background-color: red;
  color: white;
  border-radius: 5px;
  border-color: #dd9ffa;
}

#noTasks {
  color: rgb(184, 177, 177);
  font-style: italic;
  text-align: center;
}
